

/* Importing fonts */

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');


/* General styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'stix two text', 'cormorant';
}


/* Styling the nav-Bar */

body header {
    padding: 2rem 4rem 1rem;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 99;
}

header nav {
    margin: 0 auto;
    max-width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1.6rem;
    gap: 4.5rem;
    align-items: center;
}


header .nav .logo {
    width: 11.5rem;
    height: auto;
    display: block;
}

header .nav .logo img {
    width: 100%;
    height: 100%;
}

header .nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: 'cormorant';
    font-size: medium;

}

header .nav ul li {
    list-style-type: none;
    font-family: 'arimo';
    font-size: 0.91rem;
    font-weight: 600;
    color: #455d91;
    cursor: pointer;
    transition: 0.4s;
}

header .nav ul li:hover {
    color: #01ABAB;
}

header .nav button {
    width: 8.6rem;
    height: 2.9rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: 'arimo';
    color: black;
    background-color: #EEEEEE;
    cursor: pointer;
    transition: 0.4s;
}

header .nav button:hover {
    background-color: #22263C;
    color: #fff;
}


/* Styling the body */
html, body {
    min-height: 100vh;
    background-color: #fff;
}


/* The hero section */

body .hero-sct {
    padding: 1rem 3rem 0;
    margin: 0 auto;
    width: 79%;
    background-color: #fff;
}

body .hero-sct .hero-wrapper {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

body .hero-sct .hero-wrapper .hero-heading {
    font-size: 5.5rem;
    line-height: 6.5rem;
    font-weight: bolder;
    font-family: 'russo one';
    padding: 4.7rem 0 0;
    margin-bottom: 2rem;
    
}

.hero-heading span {
    font-family: 'russo one';
    color: #FB912A;
}

.hero-wrapper .hero-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 2.5rem;
    max-width: 40rem;
}

.hero-wrapper .hero-ctas {
    align-items: left;
    display: flex;
    justify-content: flex-start;
    max-width: 4800rem;
    gap: 1rem;
}

.hero-ctas li {
    list-style-type: none;
    font-weight: 700;
    cursor: pointer;
}

.hero-ctas .create-account {
    background-color: #0A0E27;
    color: #fff;
    padding: 1.3rem 1.8rem;
    border-radius: 0.5rem; 
}

.hero-ctas .sales {
    background-color: #EEEEEE;
    color: black;
    padding: 1.3rem 1.6rem;
    border-radius: 0.5rem; 
}



/* Images section */

.customer-grid .customer-wrapper{
    margin-top: 5.5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    position: relative;
}

.customer-grid .customer-wrapper .img-wrapper {
    height: 110%;
    width: 1000px;
    /* position: relative; */
}

.customer-wrapper .img-wrapper figure {
    height: 770px;
    max-width: 1000px;
    /* background-color: #01ABAB; */
    background-image: url('./Assets/microsoft.webp');
    background-position: center;
    background-size: cover;
    position: relative; 
}

.customer-wrapper .img-wrapper figure img {
    height: 100%;
    width: 800px;
}

.customer-grid .customer-wrapper .yanga-wrapper{
    position: relative;
    height: 90%;
    width: 700px;
    margin-top: -12rem;
    overflow: hidden;
    
}

.customer-grid .customer-wrapper .yanga-wrapper figure {
    height: 700px;
    width: 800px;
    background-image: url('./Assets/yanga-beauty.webp');
    background-position: right;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.customer-grid .customer-wrapper .yanga-wrapper figure img  {
    background-position: center;
    width: 100%;
    height: 100%;
}

figure figcaption {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.microsoft figcaption {
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
}
.yanga figcaption {
    position: absolute;
    left: 2.5rem;
    bottom: 1.7rem;
}

.yanga-wrapper p {
    max-width: 380px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 4rem;
}


/* Businesses section */

body .businesses {
    width: 79%;
    margin: 5rem auto;
    padding: 2rem 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.businesses .business-intro {
    font-size: 1.4rem;
    font-weight: 500;
}

.business-intro span {
    font-size: 1.5rem;
    font-weight: 700;
}

.business-list {
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.business-list .business:nth-child(1) {
    width: 6rem;
    height: 10rem;
}
.business-list .business:nth-child(5) {
    width: 7rem;
    height: 10rem;
}

.business-list .business:nth-child(1) img {
    height: 100%;
    width: 100%;
}
.business-list .business:nth-child(5) img {
    height: 100%;
    width: 100%;
}



/* Payment tools section */

.body .payment-tools {
    max-width: 79%;
    margin: 10rem auto;
    padding: 2rem 3rem 0;
}


.payment-intro {
    max-width: 40rem;
}
.payment-intro p {
    font-size: 4.6rem;
    line-height: 5rem;
    font-weight: bolder;
    font-family: 'russo one';
    margin-bottom: 2rem;
}
.payment-intro span {
    font-family: 'russo one';
    color: #FB912A;
} 


.process {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.checkout {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.process .checkout p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.checkout button {
    max-width: 8rem;
    font-weight: 600;
    background-color: #0A0E27;
    color: #fff;
    padding: 0.9rem 1rem;
    border-radius: 0.5rem; 
    margin-top: 0.5rem;
}

.process .checkout-img {
    height: 40rem;
    width: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-img img {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0 4px 20px rgba(0,0,0,.2));
}

.process .payments {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.payments .accept {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accept h2 {
    font-weight: 800;
}

.accept p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.payments .transfers {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transfers h2 {
    font-weight: 800;
}

.transfers p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.learn {
    color: #FB4D21;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    max-width: 8rem;
    transition: 1s;
}

.learn:hover .angle {
    transform: translateX(0.5rem);
}
.learn p {
    font-size: 1.0rem;
    font-weight: 600;
    display: inline-flex;
}

.angle {
    width: 32px;
    position: relative;
    top: 0.1rem;
    transition: 0.5s;
}

.angle .fa-solid {
    width: 100%;
    height: 100%;
}


/* Main body section */

.body .build {
    background-color: #F8FAFD;
}

.body .build-wrapper {
    width: 79%;
    margin: 5rem auto;
    padding: 2rem 3rem 0;
}

.build-wrapper .build-header {
    width: 90%;
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bolder;
    font-family: 'russo one';
    padding: 5rem 0 0;
    margin-bottom: 2rem; 
}

.build-header span {
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    color: #35A162;
}

.store-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.store-wrapper .store-box {
    width: 96%;
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
}

.store-wrapper .store-box .store {
    width: 22rem;
    max-width: 31.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 6rem;
}

.store h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.store p {
    font-size: 1.325rem;
    font-weight: lighter;
    line-height: 2rem;
}

.store .selling-cta {
    position: relative;
    left: -0.3em;
    color: #EEEEEE;
    background-color: #0A0E27;
    width: 8rem;
    height: 3rem;
    padding: 1rem;
    font-weight: 700;
    margin-top: 0.7rem;
    border-radius: 0.5rem; 
}

.yanga figure {
    height: 40rem;
    width: 35rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yanga figure img {
    width: 250%;
    height: 100%;
}


/* Solo section */

.solo-wrapper {
    margin-top: -6rem;
    margin-left: -3rem;
    margin-bottom: 9rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 6rem;
}

.solo-wrapper .side-content {
    max-width: 20rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.side-content .invoices {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.invoices h2 {
    font-weight: 800;
}

.invoices p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.learn {
    color: #FB4D21;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    max-width: 8rem;
    transition: 1s;
}

.learn:hover .angle {
    transform: translateX(0.5rem);
}
.learn p {
    font-size: 1.0rem;
    font-weight: 600;
    display: inline-flex;
}

.angle {
    width: 32px;
    position: relative;
    top: 0.1rem;
    transition: 0.5s;
}

.angle .fa-solid {
    width: 100%;
    height: 100%;
}

.side-content .payment-links {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.payment-links h2 {
    font-weight: 800;
}

.payment-links p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.learn {
    color: #FB4D21;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    max-width: 8rem;
    transition: 1s;
}

.learn:hover .angle {
    transform: translateX(0.5rem);
}
.learn p {
    font-size: 1.0rem;
    font-weight: 600;
    display: inline-flex;
}

.angle {
    width: 32px;
    position: relative;
    top: 0.1rem;
    transition: 0.5s;
}

.angle .fa-solid {
    width: 100%;
    height: 100%;
}

.solo figure {
    height: 40rem;
    width: 40rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solo figure img {
    width: 100%;
    height: 100%;
}

.solo p {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    /* display: inline-flex; */
}

.solo p span {
    font-weight: 500;
    color:#35A162;
}



/* The play section */

.build-wrapper .play p {
    font-size: 4.55rem;
    font-family: 'recursive';
    line-height: 7rem;
    letter-spacing: -.1rem;
    font-weight: 400;
}

.build-wrapper .play span {
    font-family: 'recursive';
    color: #35A162;
}

.play .play-cta {
    color: #EEEEEE;
    background-color: #0A0E27;
    width: 10rem;
    height: 4.7rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2.5rem;
    border-radius: 0.5rem; 
    margin-bottom: 8rem;
}



/* Cards section */

body .cards {
    margin-top: -5rem;
    height: auto;
    width: 100%;
    background-color: #1D1D1D;
    
}

.cards .card-wrapper {
    color: #F8FAFD;
    width: 79%;
    margin: 5rem auto;
    padding: 2rem 3rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper .card-header {
    text-align: center;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper .card-header h3 {
    width: 80%;
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
}

.card-wrapper .card-header h3 span {
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    color: #6672C7;
}

.card-wrapper .card-header p {
    width: 50%;
    font-size: 1.3rem;
    margin-top: 3.5rem;
}

.card-header .card-cta {
    color: #0A0E27;
    background-color: #EEEEEE;
    width: 15rem;
    height: 5rem;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2.5rem;
    border-radius: 0.5rem; 
    margin-bottom: 4rem;
}


/* Designing the cards */

.stacked-cards {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40rem;
}

.stacked-cards .main-card {
    width: 31rem;
    height: 18rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    border: solid .5px #585858;
    background-repeat: no-repeat;
    background-color: #404040;
    box-shadow: inset 5px 5px 20px #878787;
    /* opacity: 0.4; */
}

.stacked-cards .main-card:nth-child(1) {
    padding: 2.2rem;
    z-index: 5;
    /* opacity: 0.8; */
    
}

.stacked-cards .main-card:nth-child(2) {
    width: 29rem;
    height: 17rem;
    position: absolute;
    top: 2.5rem;
    z-index: 4;
    /* opacity: 0.7; */
}
.stacked-cards .main-card:nth-child(3) {
    width: 27rem;
    height: 16rem;
    position: absolute;
    top: 4.5rem;
    z-index: 3;
    /* opacity: 0.5; */
}
.stacked-cards .main-card:nth-child(4) {
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 6rem;
    z-index: 2;
    /* opacity: 0.4; */
}

/* .main-card:before {
    position: absolute;
    content: "jjhhfjj";
    background-image: radial-gradient( #585858, #1d1d1d);
    background-color: #01ABAB;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
} */


/* Styling the card content */

.main-card .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content figure{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content figure #wifi {
    height: 28px;
    width: 28px;
    color: #EEEEEE;
    transform: rotate(90deg);
    opacity: .7;
}

/* Styling the card details */

.content .card-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content .card-details .details {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -.5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'recursive';
    color: #EEEEEE;
    opacity: .7;
}

.content .card-details figure {
    width: 40px;
    height: 32px;
}

.content .card-details figure img {
    width: 100%;
}

.card-wrapper .sliding-cards {
    width: 120%;
    position: relative;
}

.card-wrapper .sliding-cards .card {
    position: absolute;
    background-color: #313131;
    border-radius: 1rem;
    box-shadow: 0 25px 50px rgb(0 0 0 / 80%);
    padding: 3.5rem 6rem 5rem 4rem ;
    text-align: left;
    height: 22rem;
    width: 37vw;
    max-width: 56.2rem;
    z-index: 2;
    transform: translateX(0deg);
    transition: transform .8s cubic-bezier(.16,1,.3,1);
}

.card-wrapper .sliding-cards .card:nth-child(1) {
    left: 20px;
    bottom: 130px;;
}
.card-wrapper .sliding-cards .card:nth-child(2) {
    left: 370px;
    bottom: 130px;
}
 .sliding-cards .card:nth-child(3) {
    left: 730px;
    bottom: 130px;
}

.sliding-cards .card:nth-child(2):hover.sliding-cards .card:nth-child(3) {
    transform:translateX(20%);
    background-color: #fff;
}

.sliding-cards .card h6 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.sliding-cards .card p {
    font-size: 1.075rem;
    line-height: 1.8rem;
}



/* The APIs section */

body .api {
    margin-top: -5rem;
    height: auto;
    width: 100%;
    background-color: #F8FAFD;
    
}

.api .api-wrapper {
    color: #1D1D1D;
    width: 79%;
    margin: 5rem auto;
    padding: 2rem 3rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.api-wrapper .api__header {
    text-align: left;
    margin-top: 8rem;
    width: 80%;
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    margin-bottom: 2.5rem;
}

.api-wrapper .api__header span {
    text-align: left;
    font-size: 4.725rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    color: #EB7DA7;
}

.api-wrapper .api__notes {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 2.5rem;
    max-width: 40rem;
}

.api-wrapper .api__details li {
    position: relative;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 2.2rem;
    margin-bottom: 1.5rem;
}

.api-wrapper .api__details li::before {
    content: '';
    position: absolute;
    left: 0;
    top: .4rem;
    height: .7rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #262C55;

}

.api .api-cta {
    color: #EEEEEE;
    background-color: #0A0E27;
    width: 12rem;
    height: 4.7rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2.5rem;
    border-radius: 0.5rem; 
    margin-bottom: 8rem;
}

/* Styling the global section */

.reach .reach-wrapper {
    color: #1D1D1D;
    width: 79%;
    margin: 5rem auto;
    padding: 2rem 3rem 0;
    max-width: 100%;
}

.reach__details {
    display: flex;
    gap: 5rem;
    position: relative;
}


.reach-wrapper .reach__header {
    text-align: left;
    margin-top: 5rem;
    width: 80%;
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    margin-bottom: 7rem;
}

.reach-wrapper .reach__header span {
    text-align: left;
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
    color: #6672C7;
}

.reach__info {
    position: relative;
}

.reach__info::before {
    content: ' ';
    position: absolute;
    left: 0;
    height:100%;
    width: 0.1rem;
    border-left: .9px dashed black;
}

.reach__info li {
    list-style-type: none;
    margin-bottom: 3.5rem;
    padding-left: 2rem;
}

.reach__info li h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: black;
    position: relative;
    margin-bottom: .6rem;
}

.reach__info li h3::before {
    content: ' ';
    position: absolute;
    left: -2.055rem;
    top: 0;
    height:80%;
    width: 0.075rem;
    z-index: 9;
    background-color: white;
    border: 1px solid black;
}

.reach__info li:nth-child(1) h3 {
    color: #00ABAB;
}

.reach__info p {
    font-size: 1rem;
    font-weight: 500;
}

/* Styling the payment options */

.reach__info li:last-child .payment__details {
    display: flex;
    gap: 5rem;
}

.payment__info li {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .8rem;
    padding-left: 0;
}

.reach-wrapper .globe__logo {
    position: absolute;
    right: -12.5rem;
    top: -15rem;
    height: 63rem;
    width: 63rem;
}

.reach-wrapper .globe__logo img {
    width: 100%;
    height: 100%;
} 

.reach-wrapper .globe {
    position: absolute;
    right: -9.5rem;
    top: -9.5rem;
    height: 56rem;
    width: 56rem;
}

.reach-wrapper .globe img {
    width: 100%;
    height: 100%;
}


/* Get started section */


.get-started .starting-wrapper {
    color: #1D1D1D;
    width: 79%;
    margin: 7rem auto;
    padding: 2rem 3rem 0;
    max-width: 100%;
}

.starting-wrapper .starting-body {
    margin-top: 5rem;
}

.starting-body .start__wrapper {
    background-color: #1D1D1D;
    color: white;
    padding: 4rem 10rem;
    border-radius: 1rem;
    box-shadow: 0 25px 50px rgb(29 29 29 / 50%);
}

.start__wrapper h3 {
    margin-top: 2rem;
    text-align: left;
    width: 80%;
    font-size: 3.2rem;
    line-height: 5.5rem;
    font-weight: bold;
    font-family: 'russo one';
}

.start__wrapper p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 1rem;
    max-width: 40rem;
    width: 100%;
}

.start__wrapper .starting__ctas {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: start;
}

.start__wrapper .starting__ctas .start-cta {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    background-color: #EEEEEE;
    color: black;
    padding: 1.175rem 1.3rem;
    border-radius: .7rem; 
}

.starting__ctas .sales__cta {
    color: #ffffff;
    position: relative;
    top: 0.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.4rem;
    cursor: pointer;
    min-width: 7rem;
    transition: 1s;
}

.sales__cta:hover .angle {
    transform: translateX(0.5rem);
}
.sales__cta p {
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
}

.sales__cta .angle {
    width: 10px;
    position: relative;
    top: -0.2rem;
    transition: 0.5s;
}

.sales__cta .angle #front {
    width: 100%;
    height: 100%;
}

footer .footer-wrapper {
    color: #1D1D1D;
    width: 79%;
    margin: 10rem auto;
    padding: 2rem 3rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer .footer-wrapper li {
    list-style-type: none;
    font-family: 'cormorant';
    font-size: 1.025rem;
    font-weight: 200;
}

footer .footer-wrapper .footer__details {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.footer-wrapper .footer__details .products {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-wrapper .footer__details .products li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    top: .4rem;
}


.footer-wrapper .footer__details .resources {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-wrapper .footer__details .resources li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    top: .4rem;
}


.footer-wrapper .footer__details .developers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-wrapper .footer__details .developers li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    top: .4rem;
}


.footer-wrapper .footer__details .flutterwave {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-wrapper .footer__details .flutterwave li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    top: .4rem;
}


.footer-wrapper .footer__details .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-wrapper .footer__details .contact li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    top: .4rem;
}


.footer-wrapper .connect {
    margin-top: 4rem;
}